@charset "UTF-8";

html {
  min-width: 320px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}
@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 361px) and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 481px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body { background: #F7F7F7;
  font-family: 'Pretendard-Light', 'Malgun Gothic', '맑은고딕', sans-serif;
  font-size:14px; line-height:1.5; color:#000;  }
button { cursor:pointer; background:transparent; }
.img { width:100%; }

.ico_friends { display:block; background: url('../img/ico_friends.png') 
  no-repeat 0 0 / 700px 1000px; 
  font-size:1px; color:transparent; line-height:1; }

#container {
  max-width:640px; min-width:320px; margin:auto;
}
header { 
  width: 100%; transition:all 500ms ease-in;  
  position:fixed; top:0; left:0; right:0;
  max-width:640px; min-width:320px; margin:auto; background: #fff;
  z-index:100;
}
h1 { padding-top: 10px;}
h1 a { display:block; width:167px; height:46px; margin: auto; }
header.on { background:#F40009; color:#fff }
header.on .list_tab li > a:hover { color:black;}




.top_left, .top_right { 
  position:absolute; top:6px; } 
.top_left { left:12px; }
.top_right { right:12px; }

header button { padding:5px;}
.ico_gnb, .ico_cart, .ico_search { 
  width:24px; height:24px; border:1px solid blue;}
.ico_gnb { background-position:-520px -60px; }
.ico_cart { background-position:-70px -810px;}
.ico_search { background-position:-40px -20px;}


nav{ }
.list_tab { display:flex;  }
.list_tab li { flex:1; text-align:center; margin-top:5px;}
.list_tab li a { display: block; line-height:48px; font-size:16px;}

.list_tab li a { font-weight:700; }
.list_tab li > a:after { display:block; content:''; width:0%; height:2px; 
  background:#F40009; transition:0.3s ease-out; } 
.list_tab li > a:hover { color:#F40009;}
.list_tab li > a:hover:after { width:100%; }



main { 
  height:2000px;  padding-top:96px;
  background:#FFF; }


/* card */
.card_text { 
  position:relative;
  bottom: 200px;
  left:10px; 
  color:#fff; 
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
 }
.card_text h4 { font-size: 26px; font-weight:700;}
.card_text span { font-size: 16px;}


  /* main_video */
section { 
  display:flex; justify-content:center; 
  align-items:center;
  flex-direction: column; 
  padding-bottom: 100px;
}
section h2 { font-size:3em; margin-bottom:50px; }
#main_vi { background:white; height:100vh; }
#main_vi video { width:100%; height:100%; object-fit: cover;}



/* event */
.event {
  position: relative;
  background: #fff;
}
.event h2.event-tit {
  font-weight: 800;
  letter-spacing: 1.07142857rem;
}
.event h2.event-tit a {
  display: inline-block;
  color: #333;
  background: url(../img/insta.png) no-repeat left center;
  font-size: 30px;
  line-height: 2.14285714rem;
  background-size: 1.78571429rem auto;
  padding-left: 2.14285714rem;
}
.event ul {
  width: 100%;
  font-size: 0;
  padding-bottom: 2.85714286rem;
  padding-top: 1.07142857rem;
}
.event ul li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  border: 2px solid #ddd;
  overflow: hidden;
}
.event ul li:nth-child(1) {
  padding-right: 0.21428571rem;
}
.event ul li:nth-child(2) {
  padding-left: 0.21428571rem;
}

.event ul li a {
  font-size: 0.71428571rem;
  font-weight: 700;
  color: #000;
}
.event ul li a span.img {
  z-index: 1;
  position: relative;
  display: block;
  padding-top: 80%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.event ul li a:hover span.img {
  margin: -10%;
  padding-top: 100%;
}
.event ul li a img {
  display: none;
}
.event ul li a span.txt {
  z-index: 10;
  position: relative;
  display: block;
  background-color: #fff;
  padding: 15px 10px;
  font-size: 14px;
}
.event ul li a span.txt span {
  display: block;
  max-height: 56px;
  overflow: hidden;
}

/* footer */

footer { padding:15px 6px; color:#f2f2f2; background: #4A4A4A; }
  ul.qiuckmenu { display:table; width:100%; }
  .qiuckmenu li { 
    display:table-cell; width:33.33%;
    background:#535357;
    border-right:1px solid #222;
    border-left:1px solid #ccc;
  }  
  .qiuckmenu li:first-child { border-left:none; }
  .qiuckmenu li:last-child { border-right:none; }
  .qiuckmenu a { 
    display:block;
    text-align: center;
    line-height:33px;
    font-size:12px;
  }  
  .telSns { margin-top: 15px; }
  .telSns a { font-size:16px;}
  .telSns img { 
    width:24px; margin-left:5px; vertical-align:bottom; }
  .copy { font-size:10px; margin-top: 15px; }



/* swiper 슬라이더 */
.swiper {
  width: 100%; 
}
.swiper img { width:100%; }
.swiper-pagination-fraction {
  color: #fff; 
  background:rgba(0,0,0,.3);
  width:auto;
  left:90%;
  bottom: 20px;
  top: auto;
  padding:0 7px;
  border-radius:999px;
  font-size:11px;
  line-height:1.65;
}

.swiper-button-prev,  .swiper-button-next {
  color:#fff; 
  background:rgba(255,255,255,.4);
  width:36px; height:36px;
  border-radius: 50%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size:20px 
}

.slider_text { 
  position:absolute; bottom:40px; left:20px; 
  color:#fff; }
.slider_text h4 { font-size: 36px; font-weight:700;}
.slider_text span { font-size: 18px;}



#slide_shortcut_wrap { padding:30px 15px}
#slide_shortcut_wrap .swiper-slide { width:55px; }  



  .swiper-pagination2 { background:transparent; color:#000; text-align:center; font-size: 14px; }

  .swiper-button-prev2, .swiper-button-next2 { 
    color:#000; 
    border:1px solid rgba(0,0,0,.4);
    width:24px; height:24px;
    border-radius: 50%;
    top:auto;
  }

  .swiper-button-next2:after, .swiper-button-prev2:after {    
    font-size:12px; 
  }
  .swiper-button-prev2{ left:50%; transform: translate(-200%); }
  .swiper-button-next2 { right:50%; transform: translate(200%); }

.dark { display:none; position:fixed; background:rgba(0,0,0,.8); z-index:101; 
  inset:0; /* 상위요소까지의 거리 설정, 일종의 margin설정 */
  }

.gnb { position:fixed; top:0; left:0; bottom:0; 
width:304px; background:white; z-index:102;
transform:translateX(-100%);
transition:all 0.3s ease-in;}
.gnb .inner { height:100%; width:304px; overflow-y:auto; }

.info_user { 
  display:flex; justify-content:space-between;
  padding:10px 24px;} 

.info_user a { font-size: 18px; font-weight: bold; }
.info_user span { color:#F40009  }



.ico_arrow_right { 
  display:inline-block;
  width:16px; height:16px; 
  background-position:-320px 0;
  vertical-align:middle;
}

.list_menu { padding:16px 0;}
.list_menu li { }
.list_menu li > a {
  display: block; line-height:48px;
  font-size:16px; padding:0 24px
}
.ico_arrow_down {
  float:right;
  width:16px; height:16px; 
  background-position:-360px 0;
  margin-top:15px;
}
.ico_arrow_down.on {   /*화살표 방향이 위로*/
  background-position:-340px 0;
}



.box_banner { padding: 0 16px; }
.box_banner img { width:100%; border-radius:16px;}

.link_login { 
  display:block; text-align:center;
  padding:32px 0;
  border-top:1px solid #ddd; margin-top:16px
}
.ico_lock {
  display:inline-block;
  width:24px; height:24px; 
  background-position:-560px -20px;
  vertical-align:middle; }


.line { 
  border-bottom:1px solid #f2f2f2
  padding-bottom:16px; margin-bottom:16px}

  .ico_close { 
    display:block; width:24px; height:24px;
    font-size:1px; line-height:0; color:transparent;
    background: url('../img/ico_close.png') no-repeat center center / contain }



